{% extends "layout.html" %}

{% block content %}

<div class="container-fluid text-center">
    <h2>File Manager</h2>
    <p>Rename your files to something easier to remember!</p>
    <div class="container-fluid">
        <p>Select a file to rename</p>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle"  id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select File
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                {% for uf in user_files %}
                {% if uf[1] == None %}
                {% set file_id = uf[0] %}
                {% else %}
                {% set file_id = uf[1] %}
                {% endif %}

                <a class="dropdown-item" href="#">{{file_id}}</a>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>

{% endblock %}