{% extends "layout.html" %}

{% block content %}
<div class="container-fluid text-center">
<table class="table table-striped">
 <tr class="bg-grey">
     <th class="text-center">Name</th>
     <th class="text-center">Metro</th>
     <th class="text-center">Zip Code</th>
     <th class="text-center">Current Company</th>
     <th class="text-center">Current Title</th>
     <th class="text-center">Current Description</th>
     <th class="text-center">Current Work Dates</th>
     <th class="text-center">Public URL</th>
     <th class="text-center">Recruiter URL</th>
 </tr>

 {% for row in rows %}
    <tr>
        {% set displayname = row["first_name"] + " " + row["last_name"] %}
        {% if row["end_date_0"] == None %}
            {% set workdate = row["start_date_0"] %}
        {% else %}
            {% set workdate = "{}-{}".format(row["start_date_0"], row["end_date_0"]) %}
        {% endif %}
        <td class="text-center">{{displayname}}</td>
        <td class="text-center">{{row["metro"]}}</td>
        <td class="text-center">{{row["postal_code"]}}</td>
        <td class="text-center">{{row["companyName_0"]}}</td>
        <td class="text-center">{{row["title_0"]}}</td>
        <td class="text-center">{{row["summary_0"]}}</td>
        <td class="text-center">{{workdate}}</td>
        <td class="text-center"><a href="{{row['public_url']}}">Public Profile</a></td>
        <td class="text-center"><a href="{{row['recruiter_url']}}">Recruiter Profile</a></td>
    </tr>
 {% endfor %}
</table>
</div>
{% endblock %}