{% extends "layout.html" %}

{% block content %}
<div class="container-fluid text-center">
<table class="table">
 <tr class="bg-grey">
     <th class="text-center">Name</th>
     <th class="text-center">Metro</th>
     <th class="text-center">Zip Code</th>
     <th class="text-center">Current Company</th>
     <th class="text-center">Current Title</th>
     <th class="text-center">Current Description</th>
     <th class="text-center">Current Work Dates</th>
     <th class="text-center">Public URL</th>
     <th class="text-center">Recruiter URL</th>
 </tr>

 {% for row in rows %}
    <tr>

        <td>{{row["name"]}}</td>
        <td>{{row["metro"]}}</td>
        <td>{{row["zip_code"]}}</td>
        <td>{{row["company_0"]}}</td>
        <td>{{row["title_0"]}}</td>
        <td>{{row["description_0"]}}</td>
        <td>{{row["dates_0"]}}</td>
        <td><a href="{{row['public_url']}}">Public Profile</a></td>
        <td><a href="{{row['recruiter_url']}}">Recruiter Profile</a></td>
    </tr>
 {% endfor %}
</table>
</div>
{% endblock %}