{% extends "layout.html" %}

{% block content %}

{% if code == 'error_delete' %}
<div class="alert alert-warning text-center" role="alert">
    Error deleting file
</div>

{% elif code == 'success_delete' %}
<div class="alert alert-success text-center" role="alert">
    File Deleted!
</div>
{% else %}
{% endif %}
<div class="alert alert-success text-center" role="alert">
    <h3>Your Spreadsheets now include a Hermes Resume Link. Hermes returns a PDF-printable version that makes reviewing a breeze.</h3>
    <h4>Or see a preview <a href="/resumes/2046927">Here</a></h4>
</div>
<div class="alert alert-info text-center" role="alert">
    <h3>Spreadsheets now include a DupCheck column for easy integration with DupChecker</h3>
</div>
<div class="container-fluid text-center">
<table class="table">
 <tr class="bg-grey">
     <th class="text-center">Download For</th>
     <th class="text-center">File Name</th>
     <th class="text-center">Record Count</th>
     <th class="text-center">Created Date</th>
     <th class="text-center">Active?</th>
     <th class="text-center">Delete</th>
 </tr>

 {% for uf in user_files %}
    <tr class="text-vert-middle">
        {% set display_time = uf[3].strftime('%b %d %Y at %I:%M %p') %}
        {% set record_count = uf[2] %}
        {% set friendly_id = uf[1] %}
        {% set file_id = uf[0] %}
        {% set active_status = uf[4] %}
        <td>
            <div class="form-group">
                <label for="file_mask">Download For...</label>
            <select class="form-control" id="file_mask" name="file_mask" onchange="location = this.value;">
                <option></option>
                <option value="/download/{{file_id}}">Avature Upload</option>
                <option value="/download/{{file_id}}/jobjet">Jobjet Contact Enrichment</option>
            </select>
            </div>
        <td>{{friendly_id}}</td>
        <td>{{record_count}}</td>
        <td>{{display_time}}</td>
        <td>{{active_status}}</td>
        <td>
            <button class="btn-sm btn-default">
                <a href="manage/files/delete/{{file_id}}">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
            </button>
        </td>
    </tr>
 {% endfor %}
</table>
</div>
{% endblock %}