{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container-fluid text-center">
<h2>Upload Spreadsheets Containing Contact Information</h2>
    <h3>Hermes will enrich matched profiles and make contact information available to all!</h3>
</div>
<div class="container-fluid text-center">
<form action="/enrich/do" method="POST" class="form-inline" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="form-control" required="" size="50">
        <label for="provider_type">Select Provider</label>
            <select class="form-control" id="provider_type" name="provider">
                <option>Jobjet</option>
            </select>
        </div>
        <button type="submit" class="button btn-default">Submit</button>
    </form>
</div>
{% endblock %}


