{% extends "layout.html" %}

{% block content %}

<div class="container-fluid text-center">
    <h2>My Profile</h2>

    {% if category == 'activity' %}
    <p>View Your Activity!</p>


    {% else %}
    <p>Manage Your Profile!</p>

    {% endif %}



    {% if category == 'activity' %}
    <div class="container-fluid text-center">
    <table class="table">
    <tr class="bg-grey">
     <th class="text-center">Date</th>
     <th class="text-center">New Records</th>
     <th class="text-center">Borrowed Records</th>
     <th class="text-center">Active?</th>
 </tr>

 {% for ui in user_info %}
        {% if ui[4] == 'Yes' %}
        {% set row_class = 'danger' %}
        {% elif ui[4] == 'No' and ui[3] == 'Yes' %}
        {% set row_class = 'active' %}
        {% else %}
        {% set row_class = '' %}
        {% endif %}
    <tr class={{row_class}}>
        {% set display_time = ui[0].strftime('%b %d %Y at %I:%M %p') %}
        {% set new_records = ui[1] %}
        {% set borrowed_records = ui[2] %}
        {% set active_status = ui[3] %}
        <td>{{display_time}}</td>
        <td>{{new_records}}</td>
        <td>{{borrowed_records}}</td>
        <td>{{active_status}}</td>
    </tr>
 {% endfor %}
</table>
</div>
{% endif %}


{% endblock %}
